<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.music.king.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许读取手机状态相关数据 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许访问SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许获得audio session ID -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许获得当前或最近运行的任务 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 允许获得电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.music.life.app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="miguopen_appid"
            android:value="appid:003083470671875551" />
        <meta-data
            android:name="excode"
            android:value="excode:014A101" />
        <activity
            android:name="com.music.ui.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.music.ui.Main"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.music.ui.Login"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.music.ui.Register"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.music.ui.NetMusicList"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.music.ui.Player"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.music.ui.ScanMusic"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.music.ui.CopyRight"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.music.ui.About"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.music.ui.FavoriteMusicList"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.cmsc.cmmusic.common.CMMusicActivity" />

        <service android:name="com.music.service.MediaService" />
        <service android:name="com.migu.sdk.service.MiguSdkService" />
    </application>

</manifest>